# Ignore all user article docx and pdf files for privacy
*.docx
*.pdf
!BM01. jslhu template.docx
!Quy định đánh giá sơ loại bài báo.docx

# Ignore archive/trash files
archive_trash/
~$*.docx
*.tmp
.env
.idea/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
